textarea {
    min-height: 400px;
}
.de{
    font-weight: 500;
}

h4{
    text-align: center;
    margin: 5vw;


}

.ad{
    padding-left: 5vw;
}
.right{
    margin-left: 92%;
    padding: 1vw;
}
.r{
    padding-left: 1vw;
    padding-right: 1vw;
}