{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <h4>{{ request.user.email }}</h4>

<ul class="nav justify-content-center">
<li class="nav-item ad">
    <button class="btn btn-sm btn-outline-info " id="inbox">Inbox</button>
</li>
<li class="nav-item ad">
    <button class="btn btn-sm btn-outline-info " id="compose">Compose</button>
</li>
<li class="nav-item ad">
    <button class="btn btn-sm btn-outline-info " id="sent">Sent</button>
</li>
<li class="nav-item ad">
    <button class="btn btn-sm btn-outline-info " id="archived">Archived</button>
</li>
<li class="nav-item ad">
    <a class="btn btn-sm btn-outline-info " href="{% url 'logout' %}">Log Out</a>
</li>
</ul>    
    <hr>

    <div id="emails-view">
    </div>

    <div id="detailed-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control" placeholder = "Recievers email">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <div class = "right">
            <button type="submit" class="btn btn-sm btn-outline-info r"/>Submit</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/api.js' %}"></script>
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}